.header {
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 8%;
  box-shadow: 1px 1px 1px 1px black;
}

.logo {
  font-size: 2rem;
  color: orangered;
  font-weight: bold;
  cursor: pointer;
}

.hamburgerAndLogo {
  display: none;
  align-items: center;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 0.25rem;
}

.button {
  font-family: 'Roboto Condensed', sans-serif;
}

.hamburger {
  display: none;
  margin-right: 1rem;
  background-color: transparent;
  transform: scale(1.1);
  border-radius: 3px;
  color: black;
}

.mobileNav {
  display: none;
}

.mobileNavOpen {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  margin: 0;
  background: white;
  width: 80%;
  height: 100%;
  align-content: center;
}

.mobileNavButtons {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobileNavItem {
  margin: 1rem 0;
}

.backdrop {
  display: none;
}

.backdropOpen {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: black;
  opacity: 40%;
}

@media (max-width: 40rem) {
  .desktopNav {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .hamburger:active {
    transform: scale(1.3);
  }
}
