.price {
    font-weight: bold;
}

/* .activeBadge {
    text-align: center;
    position: absolute;
    color: white;
    background-color: rgb(22, 175, 8);
    width: 16rem;
    top: 0;
    left: 0;
    margin: 0;
    transform: rotateZ(45deg) translateX(11.35rem) translateY(-9.8rem);
  } */

  .activeBadge {
    text-align: center;
    position: absolute;
    color: white;
    background-color: rgb(22, 175, 8);
    width: 16rem;
    top: 0;
    left: 0;
    margin: 0;
    transform: rotateZ(-45deg) translateX(-5.35rem) translateY(-3.5rem);
  }

  .soldBadge {
    text-align: center;
    position: absolute;
    color: white;
    background-color: orangered;
    width: 16rem;
    top: 0;
    left: 0;
    margin: 0;
    transform: rotateZ(-45deg) translateX(-5.35rem) translateY(-3.5rem);
  }

  .closedBadge {
    text-align: center;
    position: absolute;
    color: white;
    background-color: rgb(129, 127, 126);
    width: 16rem;
    top: 0;
    left: 0;
    margin: 0;
    transform: rotateZ(-45deg) translateX(-5.35rem) translateY(-3.5rem);
  }