.auctionCard {
  max-width: 80rem;
  width: 95%;
  margin: 2rem auto;
  border-radius: 15px;
  border: 2px solid black;
}

.auctionCardFlex {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.auctionCardGrid {
  width: 100%;
  display: grid;
  grid-template-areas:
    "model model"
    "description description"
    "price price"
    "input ownerAndTime"
    "input ownerAndTime";

  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.auctionCardGrid h1 {
  padding: 0;
  margin: 0;
}

.statusBadge {
  text-align: center;
  position: absolute;
  color: white;
  background-color: orangered;
  width: 16rem;
  top: 0;
  left: 0;
  margin: 0;
  transform: rotateZ(-45deg) translateX(-5.2rem) translateY(-3rem);
}

.form {
  display: grid;
  grid-gap: 5px;
  grid-area: input;
}

.image {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  min-width: 45%;
  min-height: 100%;
  border-right: 2px solid black;
}

.model {
  grid-area: model;
}

.description {
  grid-area: description;
}

.input {
  grid-area: input;
}

.price {
  grid-area: price;
}

.ownerAndTime {
  grid-area: ownerAndTime;
  display: grid;
  grid-gap: 20px;
}

.favoriteBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;

  z-index: 10;
}

@media (max-width: 60rem) {
  .auctionCardFlex {
    display: block;
  }

  .auctionCardGrid {
    grid-gap: 15px;
  }

  .image {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 12px;
    max-width: 100%;
    width: 100%;
    border-right: none;
  }
}
