.mobile {
  display: none;
  position: relative;
  width: 100%;
}

.desktop {
  display: block;
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
}

.text {
  margin: 0;
  color: white;
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: left;
  font-size: 3.5rem;
  width: 26rem;
}

@media (max-width: 62.5rem) {
  .text {
    margin: 0;
    color: white;
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-align: left;
    font-size: 2rem;
    width: 20rem;
  }
}

@media (max-width: 50rem) {
  .text {
    margin: 0;
    color: white;
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-align: left;
    font-size: 1, 5rem;
    width: 14rem;
  }
}

@media (max-width: 40rem) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .text {
    color: black;
    position: absolute;
    top: 5;
    left: 22rem;
    text-align: right;
    font-size: 1, 5rem;
    width: 14rem;
  }
}

@media (max-width: 38rem) {
  .text {
    color: black;
    position: absolute;
    top: 5;
    left: 20rem;
    text-align: right;
    font-size: 1, 5rem;
    width: 14rem;
  }
}

@media (max-width: 35rem) {
  .text {
    color: black;
    position: absolute;
    top: 1rem;
    left: 19rem;
    text-align: right;
    font-size: 1, 5rem;
    width: 14rem;
  }
}

@media (max-width: 31rem) {
  .text {
    color: black;
    position: absolute;
    top: 8px;
    left: 14rem;
    text-align: right;
    font-size: 20px;
    width: 14rem;
  }
}

@media (max-width: 30rem) {
  .text {
    color: black;
    position: absolute;
    top: 5;
    left: 13rem;
    text-align: right;
    font-size: 20px;
    width: 13rem;
  }
}

@media (max-width: 27rem) {
  .text {
    color: black;
    position: absolute;
    top: 5;
    left: 12rem;
    text-align: right;
    font-size: 20px;
    width: 13rem;
  }
}

@media (max-width: 26rem) {
  .text {
    color: black;
    position: absolute;
    top: 5;
    left: 11rem;
    text-align: right;
    font-size: 16px;
    width: 12rem;
  }
}

@media (max-width: 23rem) {
  .text {
    color: black;
    position: absolute;
    top: 5;
    left: 10rem;
    text-align: right;
    font-size: 16px;
    width: 12rem;
  }
}

@media (max-width: 22rem) {
  .text {
    color: black;
    position: absolute;
    top: 5;
    left: 8rem;
    text-align: right;
    font-size: 16px;
    width: 12rem;
  }
}

@media (max-width: 21rem) {
  .text {
    color: black;
    position: absolute;
    top: 5;
    left: 7rem;
    text-align: right;
    font-size: 14px;
    width: 12rem;
  }
}

@media (max-width: 18rem) {
  .text {
    color: black;
    position: absolute;
    top: 5;
    left: 5rem;
    text-align: right;
    font-size: 14px;
    width: 12rem;
  }
}