.navbar {
  background-color: rgb(77, 201, 149);
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px rgb(184, 181, 181);
  align-items: center;
}

.navbar h1 {
  margin: 0;
  cursor: pointer;
}


.list {
  display: flex;
  list-style: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  
}

.list Button {
    margin: 0 0.2rem;
}